---
import Button from "../../Button.astro";
import IconArrow from "../../icons/IconArrow.astro";
const type = false;

interface Props {
    title: string,
    text: string,
    color: string,
}

const {title,text,color} = Astro.props;

---

<article class=`flex bg-white/50 backdrop-blur-sm grow max-w-screen-md flex-col w-80 gap-5 p-5 text-center justify-center items-center border border-border-button rounded-2xl hover:shadow-lg transition-all`>
    <div class=`flex items-center justify-center border border-[#${color}] text-[#${color}] w-12 h-12 rounded-md bg-red`>
        <slot/>
    </div>

    <h2 class="text-xl text-title-color">{title}</h2>

    <p class="text-text-color text-balance">
        {text}
    </p>
    <Button
        primary={type}
        text="Más información"
        >
        <IconArrow/>
    </Button>
</article>